*.o
Makefile.in
/ar-lib
/mdate-sh
/test-driver
/ylwrap
*.log
*.trs
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
.deps
libtool
/ltmain.sh
*.a
.libs
/texinfo.tex
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
rfmip-irf/src/rfmip-irf
rfmip-irf/src/*.nc
rfmip-irf/test/*.nc
rfmip-irf/test/check_results
circ/src/circ
circ/test/*.nc
circ/test/check_results
era5/src/era5
era5/test/*.nc
longwave/test/test_longwave
shortwave/test/test_shortwave
*.mod
grtcode-data/*
